---
# This yaml frontmatter is required for jekyll to process the file
---

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-gray-900;
}

body > h1:first-child, body > div:first-child > h1:first-child {
  @apply text-black font-sans;
}

.rotation-shake {
  animation: rotation-shake 1s ease-in-out 5s forwards;
}

@keyframes rotation-shake {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(10deg);  /* Rota 10° hacia un lado */
  }
  70% {
    transform: rotate(-10deg); /* Rota 10° hacia el lado opuesto */
  }
  100% {
    transform: rotate(0deg);   /* Vuelve a la posición original */
  }
}
